# COMPAS Case Study
This notebook answers the case study about **criminal injustice case study** from the fair ml book chapter 2. We begin by loading the data

In [11]:
import pandas as pd
import seaborn as sns 

compas_raw = pd.read_csv("../../data/raw/compas-scores-two-years.csv")

print(f"The shape of the raw data is {compas_raw.shape}")

The shape of the raw data is (7214, 53)

We need to filter out rows where **days_b_screening_arrest** is over 30 or under -30 to achieve a data set with 6172 rows

In [23]:
compas = compas_raw.loc[(compas_raw['days_b_screening_arrest'] <= 30) & (compas_raw['days_b_screening_arrest'] >= -30)]
assert(compas.shape[0] == 6172)

(6172, 53)

## Calibration and Sufficiency 
- Plot the fraction of defendants recidivating within two years as a function of risk score

In [35]:
compas['two_year_recid'].unique
compas.loc[(compas['two_year_recid']==1)].filter()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
6,8,edward riddle,edward,riddle,2014-02-19,Male,1974-07-23,41,25 - 45,Caucasian,...,2,Low,2014-02-19,2014-03-31,2014-04-18,14,5,40,1,1
11,15,ellyaher lanza,ellyaher,lanza,2013-10-03,Male,1992-08-18,23,Less than 25,African-American,...,4,Low,2013-10-03,2013-10-03,2013-10-07,3,4,128,1,1
14,19,craig gilbert,craig,gilbert,2013-10-30,Female,1968-06-14,47,Greater than 45,Caucasian,...,1,Low,2013-10-30,2014-06-03,2014-11-19,1,0,216,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7200,10984,shantrina stfort,shantrina,stfort,2013-11-05,Female,1995-06-06,20,Less than 25,African-American,...,7,Medium,2013-11-05,2013-11-04,2013-11-09,0,4,22,1,1
7201,10985,kyle miller,kyle,miller,2014-01-22,Male,1986-04-08,30,25 - 45,African-American,...,7,Medium,2014-01-22,2014-01-22,2014-01-31,19,9,144,1,1
7206,10992,alexander vega,alexander,vega,2013-05-10,Male,1994-07-15,21,Less than 25,Caucasian,...,7,Medium,2013-05-10,2013-05-09,2013-05-12,0,2,654,1,1
7207,10994,jarred payne,jarred,payne,2014-05-10,Male,1985-07-31,30,25 - 45,African-American,...,2,Low,2014-05-10,2015-10-22,2015-10-22,0,0,529,1,1
7213,11001,florencia sanmartin,florencia,sanmartin,2014-06-30,Female,1992-12-18,23,Less than 25,Hispanic,...,4,Low,2014-06-30,2015-03-15,2015-03-15,2,0,258,0,1